/* ===== FOOTER ===== */
.footer {
  background: #0e2a4d;
  color: white;
  padding-top: 60px;
}

/* Container */
.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Box */
.footer-box h2,
.footer-box h3 {
  margin-bottom: 15px;
}

.footer-box p {
  line-height: 1.6;
  color: #cbd5e1;
}

/* Links */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #38bdf8;
  padding-left: 5px;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 14px;
  color: #94a3b8;
}

/* ===== RESPONSIVE ===== */
@media(max-width: 992px){
  .footer-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width: 600px){
  .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
  }
}